


.landing-text-container{
    position: absolute;
    bottom: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-image-container {
    position: absolute;
    right: 800px;
    bottom: 700px;
}


